@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

// colors
$dark-pink: #ba4270;
$link-water-white: #fbfcfe;
$san-juan-blue: #36536b;
$mirage-blue: #1b262f;
$charm-pink: #da6d97;
$light-san-juan-blue: #6c8294;
$body-bg: #edf3f8;

// fonts
$sans: "public sans";
$serif: "DM Serif Display";

// text size
$Psize: 15px;
$H1size: 72px;
