@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// ცვლადის შექმნა და მნიშვნელობის მინიჭება
$Dark-Pink: #ba4270;
$Link-Water-White: #fbfcfe;
$San-Juan-Blue: #36536b;
$Mirage-Blue: #1b262f;
$Charm-Pink-Actives: #da6d97;
$Light-San-Juan-Blue: #6c8294;
$Body-Bg: #edf3f8;

// ფონტების ცვლადები
$Sans: "Public Sans";
$Serif: "DM Serif Display";

// ტექსტის ზომები
$Psize: 15px;
$H1size: 72px;
