@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #edf3f8;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  min-height: 200px;
  padding: 40px 165px 82px 165px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  header {
    padding: 40px 40px 82px 40px;
  }
}
@media (max-width: 700px) {
  header {
    padding: 40px 24px 82px 24px;
  }
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-left: 64px;
}
@media (max-width: 700px) {
  header nav ul {
    display: none;
  }
}
header nav ul li a {
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
}
header nav .btn {
  margin-left: auto;
  padding: 14px 24px;
  background-color: #ba4270;
  border-radius: 24px;
  color: #fbfcfe;
  font-family: "public sans";
  font-size: 15px;
  font-weight: 700;
}
@media (max-width: 700px) {
  header nav .btn {
    display: none;
  }
}
header nav #menu {
  display: none;
}
@media (max-width: 700px) {
  header nav #menu {
    display: inline-block;
    margin-left: auto;
  }
}
header section {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  header section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 48px;
    margin-top: 48px;
  }
}
header section .left-side {
  max-width: 546px;
}
@media (max-width: 992px) {
  header section .left-side {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
header section .left-side h1 {
  font-family: "DM Serif Display";
  font-size: 72px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -0.554px;
  color: #36536b;
}
@media (max-width: 992px) {
  header section .left-side h1 {
    font-size: 48px;
  }
}
@media (max-width: 700px) {
  header section .left-side h1 {
    font-size: 32px;
  }
}
header section .left-side form {
  max-width: 445px;
  margin: 21px 0 16px 0;
  background-color: #fbfcfe;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  header section .left-side form {
    flex-direction: column;
    background-color: #edf3f8;
    box-shadow: unset;
    gap: 16px;
    width: 100%;
  }
}
header section .left-side form input[type=text] {
  background-color: #fbfcfe;
  color: #6c8294;
  padding: 14px 27px;
  border-radius: 24px;
  font-size: 15px;
  font-family: "public sans";
  border: none;
  outline: none;
}
@media (max-width: 700px) {
  header section .left-side form input[type=text] {
    width: 100%;
  }
}
header section .left-side form input[type=submit] {
  margin-left: auto;
  padding: 14px 24px;
  border-radius: 24px;
  border: none;
  background-color: #ba4270;
  color: #fbfcfe;
  font-size: 15px;
  font-weight: 700;
  font-family: "public sans";
}
header section .left-side form input[type=submit]:hover {
  background-color: #da6d97;
}
@media (max-width: 700px) {
  header section .left-side form input[type=submit] {
    width: 100%;
  }
}
header section .left-side p {
  color: #6c8294;
  font-family: "public sans";
  font-size: 15px;
  font-weight: 400;
  margin-left: 27px;
}
header section .left-side p span {
  font-weight: 700;
}
@media (max-width: 992px) {
  header section .left-side p {
    margin-left: 0;
  }
}
header .first-circle {
  position: absolute;
  top: -172px;
  right: -140px;
  z-index: -1;
}
@media (max-width: 992px) {
  header .first-circle {
    left: 50%;
    transform: translate(-50%);
    top: -450px;
  }
}

main .partners {
  width: 100%;
  min-height: 100px;
  background-color: #1b262f;
  padding: 93px 165px 107px 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  main .partners {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
@media (max-width: 700px) {
  main .partners {
    padding-left: 24px;
    padding-right: 24px;
  }
}
main .partners #second-circle {
  position: absolute;
  top: -359px;
  left: -235px;
}
@media (max-width: 992px) {
  main .partners #second-circle {
    top: -548px;
    left: 50%;
    transform: translate(-50%);
  }
}
main .partners .partners-left-side {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 992px) {
  main .partners .partners-left-side {
    align-items: center;
    margin-top: 72px;
  }
}
main .partners .partners-left-side h2 {
  color: #edf3f8;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
}
@media (max-width: 700px) {
  main .partners .partners-left-side {
    font-size: 32px;
  }
}
main .partners .partners-left-side p {
  color: #fbfcfe;
  font-family: "public sans";
  font-size: 15px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 28px;
}
main .partners .partners-left-side a {
  color: #fff;
  padding: 16px 32px;
  border-radius: 24px;
  border: 1px solid #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  font-family: "public sans";
}
main .partners .partners-logos {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 700px) {
  main .partners .partners-logos {
    flex-direction: row;
    width: 327px;
    justify-content: space-between;
  }
}
main .partners .partners-logos .top-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 700px) {
  main .partners .partners-logos .top-logos {
    flex-direction: column;
    gap: 70px;
  }
}
main .partners .partners-logos .bot-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 700px) {
  main .partners .partners-logos .bot-logos {
    flex-direction: column;
    gap: 70px;
  }
}

.main-content {
  width: 100%;
  min-height: 100px;
  padding: 143px 165px 96px 165px;
}
@media (max-width: 700px) {
  .main-content {
    padding: 80px 24px;
  }
}
.main-content .implementation {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 992px) {
  .main-content .implementation {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .main-content .implementation img {
    width: 100%;
  }
}
.main-content .implementation .implement {
  max-width: 445px;
}
@media (max-width: 992px) {
  .main-content .implementation .implement {
    text-align: center;
    max-width: 573px;
  }
}
.main-content .implementation .implement h2 {
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
  color: #36536b;
  margin-bottom: 24px;
}
.main-content .implementation .implement p {
  color: #6c8294;
  font-family: "public sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
.main-content .ui-ux {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 992px) {
  .main-content .ui-ux {
    display: flex;
    flex-direction: row;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
}
@media (max-width: 700px) {
  .main-content .ui-ux img {
    max-width: 100%;
  }
}
.main-content .ui-ux .ui-ux-info {
  max-width: 445px;
}
@media (max-width: 992px) {
  .main-content .ui-ux .ui-ux-info {
    max-width: 573px;
    text-align: center;
  }
}
.main-content .ui-ux .ui-ux-info h2 {
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
  color: #36536b;
  margin-bottom: 24px;
}
.main-content .ui-ux .ui-ux-info p {
  color: #6c8294;
  font-family: "public sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */