@import "./variables";
@import "./reset";

@mixin pinkButton {
  margin-left: auto;
  padding: 14px 24px;
  border-radius: 24px;
  background-color: $Dark-Pink;
  color: $Link-Water-White;
  font-size: $Psize;
  font-weight: 700;
  font-family: $Sans;
  border: none;

  &:hover {
    background-color: $Charm-Pink-Actives;
  }
}

header {
  width: 100%;
  min-height: 200px;
  padding: 40px 165px 82px 165px;

  @media (max-width: 992px) {
    padding: 40px 40px 82px 40px;
  }

  @media (max-width: 700px) {
    padding: 40px 24px 82px 24px;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      gap: 40px;
      margin-left: 64px;

      @media (max-width: 700px) {
        display: none;
      }

      li {
        a {
          color: $San-Juan-Blue;
          font-family: $Sans;
          font-size: $Psize;
          font-weight: 700;
        }
      }
    }

    .btn {
      @include pinkButton();

      @media (max-width: 700px) {
        display: none;
      }
    }

    #menu {
      display: none;

      @media (max-width: 700px) {
        display: inline-block;
        margin-left: auto;
      }
    }
  }

  section {
    margin-top: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 992px) {
      margin-top: 48px;
      flex-direction: column-reverse;
      text-align: center;
      gap: 48px;
    }

    .left-side {
      max-width: 546px;
      @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
      }
      h1 {
        color: $San-Juan-Blue;
        font-family: $Serif;
        font-size: $H1size;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.554px;
        @media (max-width: 992px) {
          font-size: 48px;
        }
        @media (max-width: 700px) {
          font-size: 32px;
        }
      }

      form {
        max-width: 445px;
        margin: 21px 0 16px 0;
        background-color: $Link-Water-White;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        box-shadow: 10px 10px 25px rgba(54, 83, 107, 0.25);
        @media (max-width: 700px) {
          flex-direction: column;
          background-color: $Body-Bg;
          box-shadow: unset;
          gap: 16px;
          width: 100%;
        }
        input[type="text"] {
          background-color: $Link-Water-White;
          color: $Light-San-Juan-Blue;
          padding: 14px 27px;
          border-radius: 24px;
          font-size: $Psize;
          font-family: $Sans;
          border: none;
          outline: none;

          @media (max-width: 992px) {
            width: 100%;
          }
        }

        input[type="submit"] {
          @include pinkButton();
        }
        @media (max-width: 992px) {
          width: 100%;
        }
      }
      p {
        color: $Light-San-Juan-Blue;
        font-family: $Sans;
        font-size: $Psize;
        font-weight: 400;
        margin-left: 27px;
        span {
          font-weight: 700;
        }
        @media (max-width: 992px) {
          margin-left: 0;
        }
      }
    }
  }
  .first-circle {
    position: absolute;
    top: -172px;
    right: -140px;
    z-index: -1;
    @media (max-width: 992px) {
      left: 50%;
      transform: translate(-50%);
      top: -450px;
    }
  }
}
